{% macro render_field(field) %}
<div class="form-group">
    <div class="form-label-group">
        {{ field(class_='form-control', **kwargs)|safe }}
        <label for="{{ field.name }}">{{ field.label.text }}</label>
    </div>
</div>
{% endmacro %}
{% macro render_recaptcha_field(field) %}
<div class="form-group">
    <div class="form-label-group" align="center">
        {{ field(class_='form-control', **kwargs)|safe }}
    </div>
</div>
{% endmacro %}
{% macro render_switch_field(field) %}
<div class="my-2 custom-control custom-switch">
    {{ field(class_='custom-control-input', **kwargs)|safe }}
    <label class="custom-control-label" for="{{ field.name }}">{{ field.label.text }}</label>
</div>
{% endmacro %}