<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin Dashboard</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css"
              integrity="sha256-zuYfqYVhondYLhMhEA58/2PA/prdFq3gT72DxNwSD4M="
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.css"
              integrity="sha256-WwAfhb7lVhl1iOpheVulhivZXFmNL6PlUjOCzRBWEl8="
              crossorigin="anonymous"/>
        <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include "navigation.html" %}
        <div id="wrapper">
            <div id="content-wrapper">
                <div class="container-fluid">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="form-group">
                                    <div class="alert alert-{{ category }}"><span
                                            class="fa fa-info-circle"></span> {{ message }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-user"></i>
                                    Accounts
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="accountTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Username</th>
                                                    <th style="text-align: center;">E-Mail Adress</th>
                                                    <th style="text-align: center;">Display Name</th>
                                                    <th style="text-align: center;">Role</th>
                                                    <th style="text-align: center;">Last Login</th>
                                                    <th style="text-align: center;">Created</th>
                                                    <td class="no-sort" style="text-align: center;">
                                                        <a data-target="#modalCreateAccount" data-toggle="modal"
                                                           style="cursor: pointer; color: black;">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if data['accounts'] %}
                                                {% for entry in data['accounts'] %}
                                                    <tr class="odd gradeX">
                                                        <td>{{ entry['username'] }}</td>
                                                        <td>{{ entry['email'] }}</td>
                                                        <td>{{ entry['displayName'] }}</td>
                                                        <td>{{ entry['role']['description'] }}</td>
                                                        <td>{{ entry['lastLogin'] or "Never" }}</td>
                                                        <td>{{ entry['created'] }}</td>
                                                        <td align="center">
                                                            <a style="color: black;" onclick='openModalModifyAccount({{ entry|tojson }})'>
                                                                <i class="fas fa-cog"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Roles
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="roleTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Name</th>
                                                    <th style="text-align: center;">Description</th>
                                                    <td class="no-sort" style="text-align: center;">
                                                        <a data-target="#modalCreateRole" data-toggle="modal"
                                                           style="cursor: pointer; color: black;">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if data['roles'] %}
                                                {% for entry in data['roles'] %}
                                                    <tr class="odd gradeX">
                                                        <td>{{ entry['name'] }}</td>
                                                        <td>{{ entry['description'] }}</td>
                                                        <td align="center">
                                                            <a style="color: black;" onclick='openModalModifyRole({{ entry|tojson }})'>
                                                                <i class="fas fa-cog"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: Create Account -->
        <div class="modal fade" id="modalCreateAccount">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Account</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="createAccountUsername" name="username"
                                           class="form-control" placeholder="Username" required="required">
                                    <label for="createAccountUsername">Username</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="email" id="createAccountEMail" name="email"
                                           class="form-control" placeholder="E-Mail" required="required">
                                    <label for="createAccountEMail">E-Mail</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="createAccountRole">Role</label>
                                <select class="form-control" name="role" id="createAccountRole">
                                {% for role in data['roles'] %}
                                    <option value="{{ role['name'] }}">{{ role['description'] }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="password" id="createAccountPassword" name="password"
                                           class="form-control" placeholder="Password" required="required">
                                    <label for="createAccountPassword">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" name="action" value="createAccount" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal: Modify Account -->
        <div class="modal fade" id="modalModifyAccount">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modify Account</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST">
                        <input id="modifyAccountPublicId" type="hidden" name="id" readonly>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyAccountUsername" name="username"
                                           class="form-control" placeholder="Username" required="required">
                                    <label for="modifyAccountUsername">Username</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyAccountDisplayName" name="displayName"
                                           class="form-control" placeholder="Display Name">
                                    <label for="modifyAccountDisplayName">Display Name</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="email" id="modifyAccountEMail" name="email"
                                           class="form-control" placeholder="E-Mail">
                                    <label for="modifyAccountEMail">E-Mail</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-inline-block" for="modifyAccountRole">Role</label>
                                <select class="form-control d-inline-block" name="role" id="modifyAccountRole">
                                {% for role in data['roles'] %}
                                    <option value="{{ role['name'] }}">{{ role['description'] }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyAccountCreated" disabled
                                           class="form-control" placeholder="Created">
                                    <label for="modifyAccountCreated">Created</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyAccountLastLogin" disabled
                                           class="form-control" placeholder="Last Login">
                                    <label for="modifyAccountLastLogin">Last Login</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" name="action" value="deleteAccount" type="submit">Delete</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="button" data-target="#modalChangePassword" data-toggle="modal">Change Password</button>
                            <button class="btn btn-primary" name="action" value="modifyAccount" type="submit">Save</button>
                        </div>
                        <!-- Modal: Change Password -->
                        <div class="modal fade" id="modalChangePassword">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change Password</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form method="POST">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="password" id="changePassword1" name="password"
                                                           class="form-control" placeholder="Password">
                                                    <label for="changePassword1">Password</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="password" id="changePassword2" name="password2"
                                                           class="form-control" placeholder="Password (again)">
                                                    <label for="changePassword2">Password (again)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary" name="action" value="changePassword"
                                                    type="submit">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal: Create Role -->
        <div class="modal fade" id="modalCreateRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Role</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="createRoleName" name="name"
                                           class="form-control" placeholder="Name" required="required">
                                    <label for="createRoleName">Name</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="createRoleDescription" name="description"
                                           class="form-control" placeholder="Description" required="required">
                                    <label for="createRoleDescription">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" name="action" value="createRole"
                                    type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal: Modify Role -->
        <div class="modal fade" id="modalModifyRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modify Role</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyRoleName" name="name" readonly
                                           class="form-control" placeholder="Name" required="required">
                                    <label for="modifyRoleName">Name</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="modifyRoleDescription" name="description"
                                           class="form-control" placeholder="Description" required="required">
                                    <label for="modifyRoleDescription">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" name="action" value="deleteRole"
                                    type="submit">Delete</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" name="action" value="modifyRole"
                                    type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
                integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.js"
                integrity="sha256-tJIoHA64cNe60LQ0mux9ILw+9cLD+RobM7arU7vNlJk="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js"
                integrity="sha256-BFIKaFl5uYR8kP6wcRxaAqJpfZfC424TBccBBVjVzuY="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.js"
                integrity="sha256-62excPUE/GPVVyqdVMWPt/2Stm18dLZSoPGH3PFPZJs="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw="
                crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#accountTable').DataTable({
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }]
                });
                $('#roleTable').DataTable({
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }]
                });
            });

            function openModalModifyAccount(data) {
                $('#modifyAccountPublicId').val(data['publicId']);
                $('#modifyAccountUsername').val(data['username']);
                $("#modifyAccountDisplayName").val(data["displayName"]);
                $("#modifyAccountEMail").val(data['email']);
                $('select[id="modifyAccountRole"]').find('option[value="' + data['role']['name'] + '"]').attr("selected",true);
                $('#modifyAccountCreated').val(data['created']);
                $('#modifyAccountLastLogin').val(data['lastLogin']);
                $('#modalModifyAccount').modal('show');
            }

            function openModalModifyRole(data) {
                $('#modifyRoleName').val(data['name']);
                $("#modifyRoleDescription").val(data["description"]);
                $('#modalModifyRole').modal('show');
            }
        </script>
    </body>
</html>
