{% from "_render_field.html" import render_field, render_switch_field %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Profile</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css"
              integrity="sha256-zuYfqYVhondYLhMhEA58/2PA/prdFq3gT72DxNwSD4M="
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.css"
              integrity="sha256-WwAfhb7lVhl1iOpheVulhivZXFmNL6PlUjOCzRBWEl8="
              crossorigin="anonymous"/>
        <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include "navigation.html" %}
        <div id="wrapper">
            <div id="content-wrapper">
                <div class="container-fluid">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="form-group">
                                    <div class="alert alert-{{ category }}"><span
                                            class="fa fa-info-circle"></span> {{ message }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="offset-md-2 col-md-8">
                            <div class="card mb-3 mx-auto">
                                <div class="card-header">
                                    <i class="fas fa-user"></i>
                                    Profile
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                    {{ forms['modifyProfile'].csrf_token }}
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="/picture/{{ data['publicId'] }}"
                                                     alt="Profile Picture" width="200" height="200">
                                                <!-- TODO update profile picture: <input type="file">-->
                                                <div class="my-2 custom-control custom-switch">
                                                    {% if data['2fa'] %}
                                                        <input type="checkbox" class="custom-control-input" name="enable_2fa" id="profile2FAEnabled" checked>
                                                    {% else %}
                                                        <input type="checkbox" class="custom-control-input" name="enable_2fa" id="profile2FAEnabled">
                                                    {% endif %}
                                                    <label class="custom-control-label" for="profile2FAEnabled">2FA enabled</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                {{ render_field(forms['modifyProfile'].display_name, placeholder=forms['modifyProfile'].display_name.label.text, value=data['displayName']) }}
                                                {{ render_field(forms['modifyProfile'].email, placeholder=forms['modifyProfile'].email.label.text, value=data['email']) }}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ render_field(forms['modifyProfile'].username, placeholder=forms['modifyProfile'].username.label.text, value=data['username'], disabled=True) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ render_field(forms['modifyProfile'].role, placeholder=forms['modifyProfile'].role.label.text, value=data['role']['description'], disabled=True) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ render_field(forms['modifyProfile'].last_login, placeholder=forms['modifyProfile'].last_login.label.text, value=data['lastLogin'], disabled=True) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ render_field(forms['modifyProfile'].created, placeholder=forms['modifyProfile'].created.label.text, value=data['created'], disabled=True) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div align="right" class="form-group">
                                            <button class="btn btn-primary" type="button" data-target="#modalChangePassword" data-toggle="modal">Change Password</button>
                                            <button class="btn btn-primary" name="action" value="modifyProfile" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: Change Password -->
        <div class="modal fade" id="modalChangePassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change Password</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST">
                        {{ forms['changePassword'].csrf_token }}
                        <div class="modal-body">
                            {{ render_field(forms['changePassword'].password, placeholder=forms['changePassword'].password.label.text) }}
                            {{ render_field(forms['changePassword'].password2, placeholder=forms['changePassword'].password2.label.text) }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" name="action" value="changePassword"
                                    type="submit">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
                integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.js"
                integrity="sha256-tJIoHA64cNe60LQ0mux9ILw+9cLD+RobM7arU7vNlJk="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js"
                integrity="sha256-BFIKaFl5uYR8kP6wcRxaAqJpfZfC424TBccBBVjVzuY="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw="
                crossorigin="anonymous"></script>
    </body>
</html>
