<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Recovery</title>
    </head>
    <body>
        Hello, if you want to reset your password, click <a href="{{ link }}">this</a> link.<br>
        If you haven't requested a password reset, just ignore this message.<br>
        {% if totp %}
            If you have two factor authentication enabled and don't find your token, you have to contact an Administrator!
        {% endif %}
    </body>
</html>